{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "no-plusplus": "off",
    "eol-last": "off",
    "max-len": ["error", 150, {"ignoreUrls": true}],
    "prefer-destructuring": "warn",
    "no-use-before-define": "off",
    "linebreak-style": "off",
    "camelcase": "warn",
    "no-param-reassign": "off",
    "no-tabs": "off"
  }
}